body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/OIG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#titre{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#section{
    height: 60%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
    
  
}
.cartes{
    width: 16%;
    height: 49%;
    border-radius: 15px;
    position: relative;
}
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 15px;
    /* transform: ; */
}
.thecardrotate{
    transform: rotateY(180deg);
}
.thefront{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-image: url(../img/backcard.jpg);
    background-size: cover;
    color: #333;
    border-radius: 15px;

}
.theback{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    
    color: #333;
    border-radius: 15px;
    transform: rotateY(180deg);

}

#btnrandom{
    height: 40px;
    width: 70px;
    border-radius: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all  0.5s ease;
    background: linear-gradient(#67544B,#EDAA57);
    
}
#btnrandom:hover{
    -webkit-box-shadow: inset 0px 0px 5px 10px #FEE4B3;
    -moz-box-shadow: inset 0px 0px 5px 10px #FEE4B3;
    box-shadow: inset 0px 0px 5px 10px #FEE4B3;
    
    
}

.carte1{
    background-image: url(../img/carte1.jpg);
    background-position: center;
    background-size: 96%;


}
.carte2{
    background-image: url(../img/carte2.jpg);
    background-position: center;
    background-size: cover;
}
.carte3{
    background-image: url(../img/carte3.jpg);
    background-position: center;
    background-size: cover;
}
.carte4{
    background-image: url(../img/carte4.jpg);
    background-position: center;
    background-size: cover;
}